*{
    padding: 0;
    margin: 0;
}
.main{
    display: flex;
    flex-direction: column;
    background-color: #FFE6C7;
    align-items: center;
    justify-content: center;
    height: 99vh;
}
img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    margin: 20px;
}
button{
    width: 70px;
    border-radius: 5px;
    height:30px ;
    border: none;

}
button:hover{
    font-size: 20px;
    font-weight: bold;
    background-color: #FFA559;
}
.entry{
    margin: 20px;
}
input{
    text-align: center;
    width: 12rem;
    height: 30px;
    border-radius: 5px;
    border: none    ;
}
h2{
    color:#957777 ;
}